@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Acceso Denegado";
}

<header>
    <div class="container">
        <h1 class="text-danger">@ViewData["Title"]</h1>
        <p class="text-danger">Tu cuenta no cuenta con los permisos para acceder a estos recursos,</p>
        <p class="text-danger">por favor accede con una cuenta autorizada.</p>
    </div>
</header>
