
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-lg-6">
        <h2 class="text-primary">Lista de Usuarios</h2>
    </div>
    <div>
        <!--especificar el area y la página de Identity-->
        <a class="btn btn-outline-primary" asp-area="Identity" asp-page="/Account/Register"><i class="bi bi-plus-square-fill"></i> Crear nuevo Usuario</a>
    </div>
</div>

<br />

<!--Tabla-->
<div class="p-4 border rounded bg-light">
    <!--Colocar Id para referenciar-->
    <table id="tblDatos" class="table table-responsive table-hover">
        <thead class="table-dark">
            <!--tr: filas th: columnas-->
            <tr>
                <th>Email</th>
                <th>Nombres</th>
                <th>Apellidos</th>
                <th>Teléfono</th>
                <th>Rol</th>
                <th></th>
            </tr>
        </thead>
    </table>
</div>

<!--llamada al archivo js creado-->
@section Scripts{
    <!--direccionamiento del directorio del que deso llamar los js-->
    <script src="~/js/usuario.js"></script>
}


